<footer class="footer container-fluid">
    <div class="row">
        <div class="col-sm-4 footer-left">
            <a href="{{'FOOTER_LINK' | translate}}" translate>FOOTER_COPYRIGHT</a>
        </div>
        <div class="col-sm-4 footer-center">
            <a href="{{'FOOTER_LINK2' | translate}}" target="_blank"><img src="/img/logo.png" height="34"/></a>
        </div>
        <div ng-controller="FooterCtrl" class="col-sm-4 footer-right">
            <a href ng-click="disclaimerDlg()" translate>FOOTER_DISCLAIMER</a>
            &bull;
            <a href ng-click="cookiesDlg()" translate>FOOTER_COOKIES</a>
        </div>
    </div>
</footer>
