
<div ng-controller="PublicationCtrl">

    <div ng-include="'/app/main-menu.html'"></div>

    <div class="publication-list">

        <uib-tabset class="framed-tabs">

            <!-- ****************************** -->
            <!-- ***** Active Publications **** -->
            <!-- ****************************** -->
            <uib-tab>
                <tab-heading>
                    <span translate>ACTIVE_PUBLICATIONS</span>
                </tab-heading>

                <publication-list publications="activePublications"></publication-list>

            </uib-tab>

            <!-- ****************************** -->
            <!-- ** Historical Publications *** -->
            <!-- ****************************** -->
            <uib-tab>
                <tab-heading>
                    <span translate>HISTORICAL_PUBLICATIONS</span>
                </tab-heading>

                <div class="publication-date-filter form-inline">

                    <span translate>CUSTOM_DATE_RANGE</span> &nbsp;


                    <span  style="margin-right: 20px">
                        <span  style="width: 240px; margin:0 auto" class="input-group">
                            <input date-range-picker
                                   class="form-control input-sm date-picker"
                                   style="font-size: 11px"
                                   type="text"
                                   ng-model="params.dateInterval"
                                   options="dateRangeOptions">
                            <span class="input-group-addon input-sm">
                                 <i class="glyphicon glyphicon-calendar"></i>
                            </span>
                        </span>
                    </span>

                    <span ng-repeat="range in ranges"
                          class="filter-bar-btn publication-date-btn"
                          ng-click="params.dateInterval = range.dateInterval">
                        {{range.name}}
                    </span>

                </div>

                <publication-list publications="historicalPublications"></publication-list>

            </uib-tab>

        </uib-tabset>

    </div>

    <div ng-include="'/app/footer.html'"></div>
</div>
