
<div class="filter-bars">

    <div class="row-fluid filter-bar">
        <div class="input-group col-xs-12 center filter-bar-btns" style="padding-bottom: 0">

            <table style="margin: 0 auto">
                <tr>
                    <td valign="middle" translate>ACTIVE_DATE</td>
                    <td>
                        <span class="filter-bar-btn">

                            <span  style="width: 240px" class="input-group">
                                <input date-range-picker
                                       class="form-control input-sm date-picker"
                                       style="font-size: 11px"
                                       type="text"
                                       ng-model="params.dateInterval"
                                       options="dateRangeOptions">
                                <span class="input-group-addon input-sm">
                                     <i class="glyphicon glyphicon-calendar"></i>
                                </span>
                            </span>

                        </span>
                    </td>

                    <td style="padding-left: 20px">
                        <span class="filter-bar-btn"
                              ng-class="{ 'filter-bar-btn-selected' : !params.dateInterval.startDate && !params.dateInterval.endDate  }"
                              ng-click="params.dateInterval = { startDate: null, endDate: null}" translate>
                            ACTIVE_NOW
                        </span>
                    </td>

                </tr>
            </table>

        </div>
    </div>

</div>

