
<div>
    <!-- Tooltip -->
    <div id="info"></div>

    <!-- Layer switcher -->
    <div ng-if="layerSwitcherLayers.length > 0" class="map-layer-switcher">
        <ul>
            <li ng-repeat="l in layerSwitcherLayers">
                <input type="checkbox" ng-model="l.visible" ng-change="updateVisibility(l)">&nbsp;{{l.name}}
            </li>
        </ul>
    </div>

    <!-- General messages -->
    <div ng-if="generalMessages.length > 0" class="message-map-general-messages">
        <div>
            <h4 translate>GENERAL_MSGS</h4>
        </div>
        <div ng-repeat="msg in generalMessages" class="compact-message-list"
             message-details-link="msg.id" messages="messages">
            <message-id-badge msg="msg" show-blank="true"></message-id-badge>
            <strong ng-if="msg.descs">{{msg.descs[0].title}}</strong>
        </div>
    </div>

</div>
