
<div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss('closed')">x</button>
    <h1>Ansvarsfraskrivelse</h1>
</div>

<div class="modal-body">
        <p>Denne ansvarsfraskrivelse gælder for alle oplysninger på Niord. Ved at tilgå Niord og undersider af Niord, accepterer
            du ansvarsfraskrivelsen.</p>
        <p>Indholdet på Niord stilles til rådighed med henblik på at forøge offentlighedens adgang til
            detaljer, som kan understøtte sejladssikkerheden inden for det danske havområde. Vi anstrenger os
            for at præsentere opdaterede og nøjagtige oplysninger på Niord. Eventuelle fejl vil blive behandlet
            regelmæssigt. Oplysninger på Niord kan ændres uden forudgående varsel.</p>
        <p>Niord indeholder oplysninger, der oprettes, samles og vedligeholdes af en række kilder såvel internt i
            Søfartsstyrelsen som eksternt. Søfartsstyrelsen kontrollerer, overvåger eller garanterer ikke for oplysninger,
            der stammer fra eksterne kilder.</p>
        <p>Oplysningerne på Niord udgør ikke en juridisk kontrakt mellem Søfartsstyrelsen og andre personer eller enheder.</p>
        <p>Søfartsstyrelsen fraskriver sig ansvaret for skader, der måtte være direkte eller indirekte relateret til de
            oplysninger, der stilles til rådighed på Niord, og understreger, at oplysningerne ikke på nogen måde kan gøre
            det ud for sikker og velplanlagt sejlads med skibe i det danske havområde eller fratage besætningen dens
            forpligtelser i overensstemmelse med relevante regler, love og retningslinjer.</p>
</div>

<div class="modal-body text-center">
    <button class="btn btn-primary" ng-click="$dismiss('closed')">Luk</button>
</div>

